body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  font-family: "Mochiy Pop One", sans-serif;
  background-color: #708090;
  overflow: scroll;
}

.title {
  color: #eee;
  font-size: 5em;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4em;
  margin-bottom: 2em;
}

button {
  border: black;
  border-radius: 16px;
  background: #eee;
  font-size: 24px;
  padding: 2em 3em;
  font-family: "Mochiy Pop One", sans-serif;
  color: #eee;
  background-color: #3cb371;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 900px;
  border: 1px solid red;
  border-radius: 32px;
  background-color: red;
  padding: 25px 20px 15px 20px;
  margin: 0px 100px 20px 100px;
}

.content {
  width: auto;
  height: 80%;
  margin: 5em 3em;
  background-color: #d3d3d3;
  border-radius: 16px;
  display: grid;
  --size: 0;
  grid-template-rows: repeat(var(--size), 1fr);
  grid-template-columns: repeat(var(--size), 1fr);
}

.modal h3 {
  color: #eee;
  font-size: 24px;
}

.dials {
  display: flex;
  flex-direction: row;
  gap: 15em;
}

.circleBase {
  border-radius: 50%;
}

.circle1 {
  width: 150px;
  height: 150px;
  background: #eee;
  border: 1px solid #eee;
}

.circle2 {
  width: 150px;
  height: 150px;
  background: #eee;
  border: 1px solid #eee;
}
